<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TokenUrl" value="https://api.worldpay.com/v1/tokens"/>
    <add key="BaseUrl" value="https://api.worldpay.com/v1"/>
    <add key="ServiceKey" value="T_S_4023fc55-903b-47c5-8d2c-ff73a4cd1cce"/>
    <add key="ClientKey" value="T_C_564f850f-1f04-4211-afe7-0f792fd3d2dd"/>
    <add key="MerchantId" value="01346fe3-86b7-40d4-9406-a4646e9fa520"/>
    <add key="WebhookUrl" value="[PathToWebhookUrl]"/>
    <add key="OrderLog" value="[PathToWebhookLogfile]"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
