<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TokenUrl" value="http://api.worldpay.com/v1/tokens"/>
    <add key="BaseUrl" value="https://api.worldpay.com/v1"/>
    <add key="ServiceKey" value="MyServiceKey"/>
    <add key="ClientKey" value="MyClientKey"/>
    <add key="MerchantId" value="MyMerchantId"/>
    <add key="WebhookUrl" value="MyWebookUrl"/>
    <add key="OrderLog" value="MyWebhookLog"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
