<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TokenUrl" value="https://api.worldpay.com/v1/tokens"/>
    <add key="BaseUrl" value="https://api.worldpay.com/v1"/>
    <add key="ServiceKey" value="T_S_cc7fa6da-2c00-4567-90f6-5da1d40618d1"/>
    <add key="ClientKey" value="T_C_c7424f48-2b89-4736-b687-7751ab88927a"/>
    <add key="MerchantId" value="6406251b-f8f9-4355-91d9-085283e86ddd"/>
    <add key="WebhookUrl" value="[WebhookUrl]"/>
    <add key="OrderLog" value="[PathToWebhookLogfile]"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
