<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="TokenUrl" value="https://api.worldpay.com/v1/tokens"/>
    <add key="BaseUrl" value="https://api.worldpay.com/v1/"/>
    <add key="JsEndpoint" value="https://cdn.worldpay.com/v1/worldpay.js"/>
    <add key="ServiceKey" value="T_S_aab8d92f-b14b-4d3a-aa6b-662b33f5d2b2"/>
    <add key="ClientKey" value="T_C_93d1b7d8-ae67-4c17-bfd2-8899dec6ec3d"/>
    <add key="OrderLog" value="c:\inetpub\wwwroot\worldpaysdk\log\log.txt"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <httpRuntime/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
