label > span {
	display: inline-block;
	width: 300px;
}

#payment-errors {
	color: #ff0000;
}

pre {
	clear: left;
}

dl#list {
	clear: left;
}

dl#list dt {
	clear: left;
	float: left;
	padding-bottom: 10px;
	width: 200px;
}

dl#list dd {
	float: left;
	width: 700px;
}

dl#list dd ul {
	list-style: none;
	padding: 0;
}

dl#list dd ul li span {
	display: inline-block;
	width: 150px;
}

hr {
	border: 1px solid #000;
}